.page {
  background: #0d151e;
}

.page__header {
  width: 100%;
  height: auto;
  background: #0d151e;
}

.page__header .navbar {
  background-color: #0d151e !important;
}

.page__footer {
  margin-top: 50px;
  padding: 50px 0;
  background: #0d151e;
}

.page__section {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hackathones__heading {
  padding-top: 50px;
}

.hackathones__text {
  color: #fefffe;
  font-size: 20px;
}

.hackathones__line {
  background: #fefffe;
}

.hackathones__item {
  background-color: #fefffe;
  color: #0d151e;
  padding: 20px 25px;
  border-radius: 5px;
}

.hackathones__item p {
  margin: 0;
}

.hackathones__header h2 {
  font-size: 22px;
  margin: 0;
}

.hackathones__maininfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.hackathones__OnlineStatus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hackathones__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hackathones__statusRed, .hackathones__statusGreen, .hackathones__statusBlack, .hackathones__statusYellow {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-left: 10px;
}

.hackathones__statusRed {
  background-color: red;
}

.hackathones__statusBlack {
  background-color: black;
}

.hackathones__statusYellow {
  background-color: yellow;
}

.hackathones__statusGreen {
  background-color: green;
}

.hackathones__shortdiscription {
  margin-bottom: 15px;
}

.hackathones__dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user .row {
  background: #fefffe;
  padding: 25px 0 25px 0;
  margin-bottom: 25px;
}

.user__avatar {
  max-width: 280px;
  height: 280px;
}

.user__statistic {
  color: #fefffe;
}

.user__statistic p {
  background: #fefffe;
  color: #0d151e;
  padding: 5px 10px;
  border-radius: 2px;
}

.data__heading {
  text-align: center;
  margin-bottom: 50px;
  color: #0d151e;
}

.data label {
  color: #0d151e;
}

.data input[type="text"] {
  margin-bottom: 10px;
}

.data input[type="submit"] {
  margin-top: 25px;
}

.command__heading {
  text-align: center;
  margin-bottom: 50px;
}

.command__user {
  width: 100px;
  height: 100px;
  margin: 0 25px 50px 0;
}

.command__avatar {
  width: 100px;
  height: 100px;
}

.form {
  color: #fefffe;
}

.form input[type="submit"], .form input[type="reset"], .form a {
  margin-right: 15px;
  margin-bottom: 15px;
}

.form__line {
  background: #fefffe;
}

table .col {
  font-size: 24px;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error__img {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}

.error__heading {
  color: #fefffe;
  font-size: 24px;
}
/*# sourceMappingURL=all.css.map */