@import "data";
.page{
    background: $dark;
    &__header{
        width:100%;
        height: auto;
        background: #0d151e;
        .navbar{
            background-color: #0d151e !important;
        }
    }
    &__footer{
        margin-top: 50px;
        padding: 50px 0;
        background: #0d151e;
    }
    &__section{
        padding: 50px 0;
        display: flex;
        align-items: center;
    }
}

.hackathones{
    &__heading{
        padding-top: 50px;
    }
    &__text{
        color: $white;
        font-size: 20px;
    }
    &__line{
        background: $white;
    }
    &__item{
        background-color: $white;
        color: $dark;
        padding: 20px 25px;
        border-radius: 5px;
        p{
            margin: 0;
        }
    }
    &__header{
        h2{
            font-size: 22px;
            margin: 0;            
        }
    }
    &__maininfo{
        display: flex;
        margin-bottom: 15px;
    }
    &__OnlineStatus{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__status{
        display: flex;
        align-items: center;
    }
    &__statusRed, &__statusGreen, &__statusBlack, &__statusYellow{
        width:15px;
        height:15px;
        border-radius: 100%;
        margin-left: 10px;
    }
    &__statusRed{
        background-color:red;
    }
    &__statusBlack{
        background-color:black;
    }
    &__statusYellow{
        background-color:yellow;
    }
    &__statusGreen{
        background-color:green;
    }
    &__shortdiscription{
        margin-bottom: 15px;
    }
    &__dates{
        display: flex;
        justify-content: space-between;
    }
}

.user{
    .row{
        background: $white;
        padding: 25px 0 25px 0;
        margin-bottom: 25px;
    }
    &__avatar{
        max-width: 280px;
        height: 280px;
    }
    &__statistic{
        color:$white;
        p{
            background: $white;
            color: $dark;
            padding:5px 10px;
            border-radius: 2px;
        }
    }
}

.data{
    &__heading{
        text-align: center;
        margin-bottom: 50px;
        color:$dark;
    }
    label{
        color:$dark;
    }
    input[type="text"]{
        margin-bottom:10px;
    }
    input[type="submit"]{
        margin-top:25px;
    }
}

.command{
    &__heading{
        text-align: center;
        margin-bottom: 50px;
    }
    &__user{
        width: 100px;
        height: 100px;
        margin: 0 25px 50px 0;
    }
    &__avatar{
        width: 100px;
        height: 100px;
    }
}

.form{
    color: $white;
    input[type="submit"], input[type="reset"], a{
        margin-right: 15px;
        margin-bottom: 15px;
    }
    &__line{
        background: $white;
    }
}
