@import "main";
@import "data";

//Переменные
$dark: #0d151e;
$blue: #4E34AF; 
$anotherblue: #0A1049; 
$white: #fefffe; 
$light-blue: #41dbd9;

//Оющие стили
*{
    margin: 0;
    padding: 0;
    color: $white;
}

.section{
    padding: 50px 0;
    &__icon{
        margin: 0 auto 0px auto;
        width:100px;
        height: 100px;
    }
    .section__heading{
        margin-top: 50px;
        width: auto;
        height:100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 24px;
        justify-content: center;
        .section__text{
            font-size:2rem;
            height: 50px;
            margin: 20px 0;
        }
        .section__text:before{
            content: "<";
            padding: 5px 20px;
            border-left: 2px solid $white;
            border-top: 2px solid $white;
        }
        .section__text:after{
            content: "/>";
            padding: 5px 15px;
            border-right: 2px solid $white;
            border-bottom: 2px solid $white;            
        }
    }
    &__button{
        margin-top: 10px;
        padding: 10px 40px;
        background: $blue;
        border:none;
        border-radius: 2px;
    }
}

.hackatone{
    text-align: center;
    &__container{
        width:100%;
        text-align: center;
    }
    &__block{
        width:25%;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        margin-bottom: 50px;
    }
    &__icon{
        margin: 0 auto 20px auto;
        width:100px;
        height: 100px;
    }
}

.advantages{
    &__heading{
        margin-bottom: 70px;
    }
    &__block{
        margin-bottom: auto;
        display: flex;
        align-items: center;
    }
    &__icon{
        stroke: $white;
        width:100px;
        height: 100px;
        margin-bottom: 20px;
    }
}

.ilovahack{
    &__heading{
        margin:50px 0;
        width: auto;
        align-items: center;
        font-size: 24px;
    }
}