<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="module.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</head>
<section>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <div class="row">
                <a class="navbar-brand" href="#">LOGO_PLACEHOLDER</a>
                <p class="nav-link ml-3" href="#">Home <span class="sr-only"></p></div>
        </div>
    </nav>
    <div class="container mt-3 py-4 px-5 plash">
            <div class="row">
                <div class="col-3">
                    <button class="btn btn-lg btn-primary mb-5">Добавить</button>
                </div>
            </div>
        <div class="row admin__header">
            <div class="col-12 overflow">
                <table class="table">
                    <tr class="bold">
                        <td>ID</td>
                        <td>Название</td>
                        <td>Краткое описание</td>
                        <td>Участников сейчас</td>
                        <td>Участников максимально</td>
                        <td>Начало хакатона</td>
                        <td>Конец хакатона</td>
                        <td>Статус хакатона</td>
                        <td>Изменение</td>
                        <td>Удаление</td>
                    </tr>
                    <tr>
                            <td>ID</td>
                            <td>Название</td>
                            <td>Краткое описаниеfsdfsdfsdfsdfsdfsdfsdfsdfsdfsd</td>
                            <td>Участников сейчас</td>
                            <td>Участников максимально</td>
                            <td>Начало хакатона</td>
                            <td>Конец хакатона</td>
                            <td>Статус хакатона</td>
                            <td>Изменение</td>
                            <td>Удаление</td>
                        </tr>
                </table>
            </div>
        </div>
        
    </div>
</section>